.review_card_wrapper {
    width: 100%;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    position: relative;
}

.review_card_wrapper:not(:last-child) {
    margin-bottom: 30px;
}

.user_section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user_avatar {
    width: 65px;
    height: 65px;
    background-position: center;
    background-size: cover;
    margin-right: 20px;
    border-radius: 50%;
}

.user_name_section {

}

.user_name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.user_sub_name {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.review_section {
    display: flex;
    margin-top: 20px;
}

.review_image {
    min-width: 350px;
    height: 200px;
    margin-right: 30px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

.review_text_section {

}

.review_title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.review_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.review_date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.review_rating_wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 0 8px;
    background-color: #84BB59;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.review_rating {
    font-weight: 750;
    font-size: 20px;
    line-height: 25px;
}

.review_sub_rating {
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
}

.review_read_more {
    color: rgb(42, 162, 214);
    cursor: pointer;
}

.reviews_button {
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    cursor: pointer;
}
