.chat_wrapper {
    display: flex;
    width: 100%;
    height: 600px;
    border: 1px solid #EBEBEB;
    border-radius: 8px;
}

.chat_contacts {
    min-width: 255px;
    border-right: 1px solid #EBEBEB;
}

.chat_contact_card {
    width: 100%;
    height: 80px;
    background-color: transparent;
    border-bottom: 1px solid #EBEBEB;
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.chat_contact_card.active {
    background-color: #2AA2D6;
}

.chat_contact_card.first {
    border-radius: 8px 0 0 0;
}

.chat_contact_wrapper {
    display: flex;
}

.chat_contact_avatar {
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    position: relative;
}



.active_user::before {
    content: '';
    position: absolute;
    left: -3px;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    border-radius: 50%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.active .active_user::before {
    background-color: #ffffff;
    border: 1px solid #2AA2D6;
}

.chat_contact_data {
    color: #000000;
}

.active .chat_contact_data {
    color: #FFFFFF;
}

.chat_contact_name {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    display: flex;
}

.chat_contact_name div:last-child {
    margin-left: 5px;
}

.chat_contact_last_message {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.chat_contact_last_message_date {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.active .chat_contact_last_message_date {
    color: rgba(255, 255, 255, 0.5);
}

.chat_messages {
    background-color: #F6F7F9;
    width: 100%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.chat_messages_messages {
    padding: 30px 30px 0 30px;
    max-height: 800px;
    overflow-y: scroll;
}

.message_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.message_wrapper.is_mine {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.user_avatar {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0 0 20px;
    background-position: center;
    background-size: cover;
}

.is_mine .user_avatar {
    margin: 0 20px 0 0;
}

.message_body {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.message_header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.message_author_name {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.message_date_time {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.message_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.message_status {
    position: absolute;
    right: -5px;
    top: -5px;
}

.send_button {
    padding: 0 30px 30px 30px;

}

.send_button form{
    min-height: 50px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
}

.send_button textarea{
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border: none;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    padding: 18px 20px;
    resize:none;
    font-family: 'Avenir Next Cyr', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.send_button textarea:focus{
    outline: none;
}

.send_button textarea::placeholder {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.25);
}

.send_button .editable_area{
    min-height: 50px;
    max-width: 100%;
    min-width: 100%;
    background: #FFFFFF;
    border: none;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    padding: 18px 20px;
}

.send_button button{
    min-width: 50px;
    background: transparent;
    border: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    cursor: pointer;
}

.tickets_button {
    height: 50px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 8px 0 0;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tickets_button {

}


