.tour_header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tour_header_title {
    min-width: 70%;
    font-weight: 750;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.tour_header_rating_reviews {
    min-width: 20%;
    display: flex;
    flex-direction: column;
}

.tour_header_rating {
    font-weight: 750;
    font-size: 30px;
    line-height: 37px;
    color: #84BB59;
}

.tour_header_rating img {
    height: 21px;
    width: 21px;
    margin-right: 10px;
}

.tour_header_reviews {
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}