.popup_wrapper {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.popup_body {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.popup_icon {
    margin-bottom: 20px;
}

.popup_title {
    margin-bottom: 20px;
    font-weight: 450;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.popup_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.pop_up_input {
    font-family: 'AvenirNextCyr-Regular';
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #EBEBEB;
    padding: 20px;
    font-size: 14px;
    line-height: 17px;
    min-height: 100px;
}

.pop_up_input:focus {
    border: 1px solid #EBEBEB!important;
    outline: none;
}
