.region_wallpaper {
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
}

.region_header {
    display: flex;
    justify-content: space-between;
}

.region_title {
    flex: 3;
    font-weight: 750;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.region_data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.region_description {
    margin-top: 30px;
    border-top: 1px solid #EBEBEB;
    padding: 30px 0;
    border-bottom: 1px solid #EBEBEB;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.region_tours {
    display: flex;
    flex-wrap: wrap;
}

.destinations_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.destination_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: none;
    width: 350px;
    height: 240px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding: 20px;
}

.destination_card_name {
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.destination_card_count {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.destination_card:not(:nth-child(3n+3)) {
    margin-right: 30px;
}
