table {
    border-collapse: collapse;
    width: 100%
}

th {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: left;
}

tr {
    border-bottom: 1px solid #EBEBEB;
}

.orders_table {
    overflow-x: auto;
    margin-bottom: 30px;
}

.order_payment_section {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    align-items: flex-start;
}

.order_payment_section_main {
    margin-right: 30px;
    flex: 2;
}

.order_payment_section_sidebar {
    width: 350px;
    flex: none;
}

.order_payment_section_main_upper {
    display: flex;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.order_payment_section_main_upper>div {
    flex: 1;
}

.order_payment_section_main_upper>div:first-child {
    margin-right: 20px;
}

.order_payment_section_main_upper_heading {
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    color: #2AA2D6;
    margin-bottom: 30px;
}

.order_payment_section_main_upper_dates {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.order_payment_section_main_upper_select_heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.order_payment_section_main_upper_select {
    margin-bottom: 25px;
    width: 100%
}

.order_payment_section_main_upper_ok {
    display: flex;
    align-items: center;
}

.order_payment_section_main_upper_ok img {
    margin-right: 20px;
}

.order_payment_section_main_upper_ok div {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.order_payment_section_main_upper_list {
    margin-bottom: 40px;
}

.order_payment_section_main_upper_list_item {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.order_payment_section_main_upper_list_item:not(:last-child) {
    margin-bottom: 20px;
}

.order_payment_section_main_upper_list_item img {
    margin-right: 20px;
}

.order_payment_section_main_upper_list_item_text {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.order_payment_section_main_upper_list_item_text_heading {
    font-weight: 600;
}

.order_payment_section_main_upper_list_item_text_text {
    font-weight: 400;
}

.order_payment_section_main_body {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.order_payment_section_main_upper_traveler_form {
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #EBEBEB;
    padding-top: 30px;
}

.inputs_row_date_input {
    display: flex;
    width: 320px;
    height: 52px;
    background: #F6F7F9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 30px;
}

.inputs_row_date_input.calendar {
    margin-bottom: 10px;
    padding: 0 16px;
}

.inputs_row_date_input_text {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.inputs_row_date_input_button {
    display: flex;
    height: 52px;
    width: 52px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #9B9B9B;
    cursor: pointer;
    margin-right: -1px;
}

.inputs_row_date_input_button_minus {
    display: flex;
    height: 52px;
    width: 52px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #9B9B9B;
    cursor: pointer;
    margin-left: -1px;
    padding-bottom: 4px;
}

.order_payment_section_main_upper_traveler_form_heading {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.order_payment_section_main_upper_traveler_checkbox {
    width: 100%;
    margin-bottom: 30px;
}

.order_payment_section_main_upper_traveler_notes {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.order_payment_section_main_upper_traveler_notes>div:not(:last-child) {
    margin-bottom: 20px;
}

.order_payment_section_sidebar_section {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 20px 20px 0 20px;
}

.order_payment_section_sidebar_section_tour_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.order_payment_section_sidebar_section_tour_duration {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.order_payment_section_sidebar_section_tour_start_finish {
    margin-bottom: 20px;
}

.order_payment_section_sidebar_section_tour_start_finish>div {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.order_payment_section_sidebar_section_tour_travelers {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.order_payment_section_sidebar_section_tour_price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.order_payment_section_sidebar_section_tour_price>div:first-child {
    font-weight: 400;
}

.order_payment_section_sidebar_section_tour_price>div:last-child {
    font-weight: 600;
}

.order_payment_section_sidebar_section_tour_total {
    width: calc(100% + 40px);
    margin: 0 -20px 20px;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #84BB59;
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order_payment_section_sidebar_section_tour_deposit {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}


.order_payment_section_sidebar_section_tour_deposit>div:first-child {
    font-weight: 400;
}

.order_payment_section_sidebar_section_tour_deposit>div:last-child {
    font-weight: 600;
}

.order_payment_section_sidebar_section_tour_deposit>div:first-child>div:last-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.order_payment_section_sidebar_section_row {
    margin-bottom: 20px;
    width: 100%;
}

.order_payment_section_sidebar_section_row>div:first-child {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 6px;
}

.order_payment_section_sidebar_section_row>div:last-child {
    font-weight: 450;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.order_payment_section_sidebar_section_row ul {
    list-style: none;
    padding-left: 0;
}

.order_payment_section_sidebar_section_row li {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.order_payment_section_sidebar_section_row li img {
    margin-right: 10px;
}

.orders_table td {
    padding: 30px 10px;
}

.orders_table th {
    padding: 10px;
}

.table_id {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.table_actions div {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);
}

.table_actions div:first-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.table_actions div:not(:last-child) {
    margin-bottom: 10px;
}

.table_tour div:first-child {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.table_tour div:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);
}

.table_travelers {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.table_price {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.table_status {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.filters_wrapper {
    margin-bottom: 20px;
}

.filter_button {
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}

.filter_button.active {
    color: #84BB59;
    border: 1px solid #84BB59;
}

.success_page_wrapper {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success_page_title {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #84BB59;
    margin-bottom: 80px;
}

.success_page_button {
    min-width: 255px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}





