.regions_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.region_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: none;
    width: 350px;
    height: 240px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding: 20px;
}

.region_card_name {
    font-weight: 750;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.region_card_count {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}

.region_card:not(:nth-child(3n+3)) {
    margin-right: 30px;
}