.nav_wrapper {
    display: flex;
    height: 100%;
    flex: 1;
}

.main_nav_item_wrapper {
    position: relative;
    padding: 0 30px;
    height: 40px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.main_nav_item_wrapper:last-child {
    padding: 0 30px 0 0;
    border-right: 2px solid #EBEBEB;
}

.main_nav_item {
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main_nav_item img{
    margin-left: 10px;
}

.main_nav_item.active img{
    transform: rotate(180deg);
}

.secondary_nav {
    position: absolute;
    right: 0;
    top: 60px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    min-width: 250px;
    z-index: 1;
}

.secondary_nav a {
    /*width: 100%;*/
    /*height: 35px;*/
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.secondary_nav a:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.secondary_nav a.active_menu {
    /*width: 100%;*/
    background-color: #84BB59;
    color: #fff;
}