.tour_impressions_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.impressions_column {
    width: 47%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.impression {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
}

.impression img {
    height: 17px;
    width: 17px;
    margin-right: 10px;
}